  <h1>My Bookings</h1>

<% @bookings.each do |booking| %>
  <%= booking.course.name %>
  <%= booking.course.time %>
  <%= link_to booking_path(booking), method: :delete, data: {confirm: "Are you sure?"} do %>
    <i class="far fa-trash-alt"></i>
  <% end %>
<% end %>
