.card_container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($rose, .5);
  border-radius: 10px;
  margin-bottom: 40px;
  height: 100vh;
}

 .card-booking-infos p {
  color: $rose;
}

.card-booking-infos h1 {
  color: $rose;
  margin-top: -5px;
}

.card-booking-infos h2 {
  margin-top: -5px;
}

.card-booking-infos img {
  width: 290px;
}


.card-booking-infos {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 13%;
  text-align: center;
}



