.btn-rose {
  color: white;
  background: $rose;
  border: 1px solid $rose;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-weight: bold;
  margin-left: 10px;
}

.btn-rose:hover {
  opacity: 1;
  color: $light-gray;
}
